<ion-header>
  <ion-toolbar>
    <ion-title>
      Películas y reservas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let movie of movies">
        <!-- <img [src]="photo.data" /> -->
        {{ movie.name }}
      </ion-col>
      <ion-col size="6"> </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    (click)="openMovieModal()"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
